.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--brown-200);
}
.footer.desktop {
  gap: 24px;
  width: calc(100% - 160px);
  padding: 60px;
  font-size: 16px;
}
.footer.mobile {
  gap: 20px;
  width: calc(100% - 40px);
  padding: 40px 20px 120px 20px;
  font-size: 14px;
}

.footnotes {
  display: flex;
  align-items: center;
}
.footnotes.desktop {
  gap: 16px;
}
.footnotes.mobile {
  gap: 8px;
}

.footnote:hover {
  text-decoration: underline;
}
