.contact_methods {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;

  color: var(--brown-200);
}
.contact_methods.center {
  align-items: center;
}
.contact_methods.desktop {
  gap: 16px;
}
.contact_methods.mobile {
  gap: 8px;
}

.contact_method {
  display: flex;
  align-items: center;
  gap: 16px;

  &:hover {
    text-decoration: underline;
  }
}
.contact_method.desktop {
  font-size: 20px;
}
.contact_method.mobile {
  font-size: 14px;
  margin: 0px auto;
}
