.container {
  width: 100%;
}
.container.desktop {
  height: 480px;
}
.container.mobile {
  height: 360px;
}

.banner {
  object-fit: cover;
  width: 100%;
}
.banner.desktop {
  height: 480px;
}
.banner.mobile {
  height: 360px;
}

.overlay {
  width: 100%;

  position: relative;
  z-index: 1;

  display: flex;
}
.overlay.desktop {
  height: 480px;
  top: -484px;
  align-items: center;

  background: linear-gradient(
    90deg,
    rgba(25, 13, 13, 0.9) 20%,
    rgba(24, 11, 11, 0.05) 70%
  );
}
.overlay.mobile {
  height: 360px;
  top: -360px;
  align-items: flex-end;

  background: linear-gradient(
    0deg,
    rgba(24, 11, 11, 0.9) 20%,
    rgba(24, 11, 11, 0.05) 70%
  );
}

.text {
  color: white;
  width: 500px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.text.desktop {
  margin-left: 80px;
}
.text.mobile {
  padding: 32px;
  justify-content: center;
}

.title.desktop {
    font-size: 40px;
}
.title.mobile {
    font-size: 24px;
}

.subtitle.desktop {
    font-size: 24px;
}
.subtitle.mobile {
    font-size: 16px;
}
