.top_bar {
  z-index: 2;
  position: sticky;
  top: 0px;

  display: flex;
  align-items: center;

  border-bottom: 1px solid var(--tertiary-color);
  background: white;
  box-shadow: 0px 4px 20px 4px rgba(6, 16, 35, 0.04);
}
.top_bar.desktop {
  justify-content: space-between;
  padding: 20px 80px;
}
.top_bar.mobile {
  justify-content: center;
  padding: 16px 20px;
}

.logo {
  width: auto;
}
.logo.desktop {
  height: 60px;
}
.logo.mobile {
  height: 40px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 20px;

  position: absolute;
  right: 80px;
}
